# The basics
torch>=1.13.1
transformers>=4.30.0
tqdm>=4.64.1

# These are usually called by HuggingFace models
# But you might need to install them explicitly
sentencepiece>=0.1.97
tokenizers>=0.13.2
protobuf>=3.20.0

# Small helper for newer typing features on older Pythons (optional)
typing-extensions>=4.0.0

# Will only need if you want to run comparisons with minicons,
# Such as the tests provided in test/test_minicons_compare.py
minicons>=0.3
pandas>=2.0.0
pyarrow>=12.0.0